body {
  background-color: #d5e1ef;
}

.card {
  width: 300px;
  border-radius: 20px;
  background: white;
  padding: 16px 13px;
  margin: 150px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.1);
}

.QR-CODE {
  width: 290px;
  border-radius: 10px;
}

@font-face {
  font-family: Outfit;
  src: url(https://fonts.google.com/specimen/Outfit);
}

.Text {
  padding: 0px 4px 15px 4px;
  margin: 5px;
}

.Header {
  font-size: 22px;
  font-family: Outfit;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

.Para1 {
  font-size: 15px;
  font-family: Outfit;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}
